/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// ======================
// IMPORTS
// ======================
@import "bootstrap-sprockets";
@import "bootstrap";

// ======================
// FONTS
// ======================
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic);

// ======================
// LAYOUT
// ======================
body {
  margin-top: 70px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.navbar-inverse {
  background-color: #0C4147;
}

.navbar-inverse .navbar-nav li a {
  color: #FFF;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #072529;
}

.navbar-brand {
  font-family: 'Lobster', serif;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  color: #BD4932;
}

p {
  color: #105B63;
}

p a, p a:hover, p a:visited {
  color: #BD4932;
}