// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#map{
	width: 700px;
	height: 500px;
}

.row {
  margin-bottom: 40px;
}

.avatar {
  width: 180px;
  height: 180px;
}

.avatar img {
  max-height: 170px;
}

.stars{
  font-size: 20px;
  color: #DB9E36;
}

.restaurant-links a, .restaurant-links a:hover {
  background-color: #BD4932;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  padding: 6px;
  border-radius: 50%;
}

.restaurant-links a {
  opacity: .5;
  margin: 0 auto;
}

.restaurant-links a:hover {
  opacity: .8;
}

hr.separator{
  border: 1px dashed #BD4932;
  opacity: .25;
  width: 60%
}

